@use './abstracts/' as *;

/* Media Queries
-------------------------------------------------------------- */

  @media only screen and (max-width: 1650px) {
 

    .slider {
      .swiper-button-prev2 {
        right: 170px;
        left: unset;
      }
      .swiper-button-next2 {
        right: 90px;
        left: auto;
      }
      .swiper-pagination2 {
        left: 15%;
      }
    }

  }

  @media only screen and (max-width: 1440px) {
    .slider {
      .swiper-pagination2 {
        left: 90px;
      }
    }

    .swiper-button-prev3 {
      left: 30px;
    }
    .swiper-button-next3 {
      right: 30px;
    }


  }

  @media only screen and (max-width: 1330px) {

    // .header_1 #main-nav {
    //   left: 26%;
    // }

  }

  @media only screen and (max-width: 1199px) {

    .header_1 #main-nav {
      left: 16%;
      > ul > li {
        padding: 40px 12px 40px 13px;
      }
    }

    #top-bar .top-box .title-map {
      padding-right: 15px;
      margin-right: 15px;
    }

    .widget-menu .title-widget {
      font-size: 28px;
    }
    .widget-menu.style-2 {
      padding-left: 0;
    }

    .slider {
      .swiper-button-prev2 {
        right: 95px;
      }
      .swiper-button-next2 {
        right: 15px;
      }
      .swiper-pagination2 {
        left: 15px;
      }
      .slider-item .content {
        width: 62%;
      }
    }

    .search-header {
      left: 19%;
    }
    .header_1.home2 #main-nav {
      left: 27.5%;
    }
    // .flat-button-top {
    //   display: none;
    // }

    .side-bar {
      padding: 0;
    }

  }

  @media only screen and (min-width: 767px) and (max-width: 991px) {
    .flat-organic2 {
      padding-bottom: 90px;
      .box-organic .images .content {
        left: 15px;
        h4 {
          margin-bottom: 8px;
        }
        .title-h3 {
          margin-bottom: 9px;
          font-size: 24px;
          line-height: 30px;
          padding-right: 5px;
        }
      }
    }
  }
  
  @media only screen and (max-width: 991px) {
  
    .mobile-button {
      display: block !important;
    }
    // .main-nav,
    .swiper-button-next3, 
    .swiper-button-prev3,
    .swiper-pagination2,
    .swiper-button-prev,
    .swiper-button-next,
    .sc-btn-top {
      display: none;
    }

    .tf-section2,
    .tf-section {
      padding: 90px 0;
    }


    .flat-title-page.inner {
      padding: 100px 0px 100px 0px;
    }

    .slider {
      .slider-item {
        position: relative;
        padding: 90px 0 90px;
        .content {
          width: 65%;
          padding-left: 0;
          p {
            padding: 0;
          }
        }
      }
    }

    .slider.home2 .slider-item {
      .images .image {
        position: absolute;
        width: 68%;
        margin-left: -175px;
        z-index: 0;
        margin-top: 90px;
      }
      .content {
        width: 60%;
        padding-left: 0;
        z-index: 2;
        p {
          padding: 0;
        }
      }
      .images .mark-sl {
        position: absolute;
        margin-top: 175px;
        margin-left: 40px;
      }
    }

    .slider.home3 .slider-item {
      padding: 144px 0;
      .content h1 {
        padding: 0;
      }
    }

    #footer {
      padding: 80px 0 50px;
      .widget-logo {
        margin-bottom: 50px;
        .logo-footer {
          margin-bottom: 40px;
        }
        p {
          margin-bottom: 25px;
          padding-right: 0;
        }
      }

      .widget-menu {
        .title-widget {
          margin-bottom: 30px;
        }
        &.style-2 {
          padding-top: 0px;
          padding-left: 0px;
        }
        &.style-3 {
          padding-left: 0;
          padding-top: 66px;
        }
        &.style-4 {
          padding: 0;
          .title-widget {
            margin-bottom: 40px;
          }
        }
      }
      .go-top {
        right: 15px;
      }
    }

    .widget-social-footer {
      padding: 30px 0 35px;
      .title-bottom {
        margin-bottom: 15px;
        text-align: center;
        padding: 0;
      }
      
      .icon-bottom {
        text-align: center;
        margin: 0;
      }
    }

    // home2 
    .header_1.home2 .flat-button-top {
      display: none;
    }

    .categories_menu_toggle {
      transition: unset;
    }

    .header-account {
        position: absolute;
        left: 45%;
        right: unset;
        text-align: center;
        top: 50%;
        transform: translate(-50%,-50%);
    }

    .search-form .search-field {
      width: 100%;
    }

    .search-header {
      left: unset;
      right: 0;
    }

    .flat-icon-home2 .box-icon {
      margin-bottom: 30px;
      display: block;
      padding: 30px 15px 28px 15px;
      border-radius: 10px;
      text-align: center;
      .icon {
        margin-bottom: 15px;
      }
      .content {
        margin-left: 0;
      }
    }


    .flat-about.home2 {
      .wrap-img .images {
        position: unset;
      }
      .wrap-about {
        .heading-section {
          h2 {
            font-size: 50px;
          }
          p {
            padding: 0;
          }
        }
        .box-icon {
          margin-right: 0px;
        }
      }
    }

    .flat-category .wrap-category {
      text-align: center;
      justify-content: center;
      flex-wrap: wrap;
      .box {
        width: calc(33.333% - 20px);
        margin-bottom: 30px;
      }
    }

    .flat-fresh .images {
      img {
        height: 220px;
        object-fit: cover;
      }
      .content {
        left: 15px;
      }
    }

    .flat-special.style-special {
      padding-top: 60px;
    }

    .flat-special.style-one {
      padding-bottom: 90px;
      .box-title .title {
        margin-right: 11%;
      }
    }

    .flat-rate-products {
      .wrap-rate {
        padding: 30px 15px 38px;
        .title-box {
          align-items: center;
          .title-30 {
            line-height: 30px;
            padding-top: 10px;
          }
        }
      }
      .mark-image {
        position: absolute;
        right: 15px;
        top: 36.8%;
      }
    }

    .flat-popular-products {
      padding-bottom: 75px;
    }

    // .flat-organic2 {
    //   padding-bottom: 90px;
    //   .box-organic .images .content {
    //     left: 15px;
    //     h4 {
    //       margin-bottom: 8px;
    //     }
    //     .title-h3 {
    //       margin-bottom: 9px;
    //       font-size: 24px;
    //       line-height: 30px;
    //       padding-right: 5px;
    //     }
    //   }
    // }

    .flat-products {
      padding-bottom: 60px;
      .heading-section {
        padding: 0;
      }  
      .box-special {
        margin-bottom: 0;
      }
      .swiper-container {
        margin-bottom: 30px;
      }
    }
    
    // home3
    .flat-category.home3 {
      padding-bottom: 60px;
    }

    .flat-why-choose {
      .wrap-why-choose .box {
        .box-1 {
          width: 42%;
        }
        .box-2 {
          width: 42%;
        }
        .inner {
          .content {
            padding: 0px 10px 0 0px;
          }
          &.inner-2 .content {
              padding: 0px 0px 0 10px;
          }
        }
        .mb-203 {
          margin-bottom: 60px;
        }
      }
      .mark-images {
        left: 54.7%;
        top: 0;
        img {
          width: 90%;
        }
      }
    }

    .flat-testimonial2 .wrap-testi {
      .box-1 {
        width: 62.5%;
        margin-right: 25px;
        .inner {
          padding: 45px 15px 50px 15px;
        }
      }
      .box-2 {
        width: 38%;
        padding: 100px 10px 0;
      }
      .swiper-button-prev4 {
        right: 65px;
      }
      .swiper-button-next4 {
        right: 15px;
      }
    }

    .flat-icon-home2.home3 {
      padding-bottom: 60px;
    }

    .flat-subscribe.home3 {
      padding: 90px 0;
      .wrap-subscribe {
        padding: 0;
      }
      .heading-section h4 {
        padding: 0;
      }
    }
  
    .flat-fresh.home3 {
      padding-bottom: 90px;
      
    }
   
    // 

    .flat-subscribe {
      padding: 60px 0;
    }

    .widget-subcribe {
      padding-left: 0;
      padding-top: 40px;
      .form-subcribe {
        input {
          width: 70%;
        }
        button {
          width: 30%;
        }
      }
    }
    
    #top-bar {
      height: unset;
      padding: 15px 0 10px;
      .inner {
        display: block;
        text-align: center;
      }
      .top-box {
        justify-content: center;
        .title-map::after {
          top: -1px;
          height: 20px;
        }
      }
    }

    .flat-button-top {
      right: 35px;
    }

    .flat-blog {
      padding-bottom: 75px;
      .content {
        padding: 24px 15px 25px 15px;
      }
      &.home {
        padding-bottom: 50px;
      }
    }

    .flat-brand {
      padding-bottom: 82px;
    }

    .flat-icon {
      padding-bottom: 60px;
      .box-icon {
        margin-bottom: 30px;
      }  
    }

    .flat-about {
      .wrap-about .box-icon {
        margin-right: 0;
        padding: 15px 10px 19px 12px;
        .icon {
          margin-right: 15px;
        }
      }
      .box-author {
        width: 100%;
        position: unset; 
        padding: 20px 15px 25px;
        border-radius: 5px;
        height: unset;
        margin-top: 15px;
        .title {
          margin-bottom: 10px;
        }
      }
      .wrap-img .img-1 {
        margin-bottom: 15px;
      }
    }

    .flat-vegetables {
      .flat-tabs .tab-title li {
        margin-right: 18px;
        margin-left: 18px;
      }
      .wrap-vegetables {
        flex-wrap: wrap;
        margin-bottom: 30px;
        .box {
          width: calc(50% - 30px);
          margin-bottom: 30px;
        }
      }
    }

    .flat-organic {
      .box-organic {
        .title {
          font-size: 30px;
          left: -100px;
          top: 96px;
        }
        .images {
          margin-left: 40px;
          .content {
            transform: translateY(-50%);
            left: 20px;
            top: 50%;
          }
        }
        &.box-2 {
          .images {
            margin-right: 40px;
          }
          .title {
            right: -73px;
            left: unset;
            top: 96px;
          }
        }
      }
    }

    .flat-arrivals .box-arrivals {
      display: block;
      text-align: center;
      .images {
        margin-right: 0; 
        width: 100%; 
      }
      .wrap-list {
        justify-content: center;
      }
    }

    .flat-testimonials {
      padding-bottom: 80px;
      .box-testi {
        padding: 32px 15px 40px;
      }
    }
  
    .flat-brand .brand-slider {
      text-align: center;
    }

    // page
    .flat-title-page.details .heading {
      padding: 0;
    }

    .flat-blog-details .post {
      .text-1 {
        padding-right: 0px;
      }
      .box-text {
        padding-right: 0px !important;
      }
      .image-one {
        text-align: center;
      }
    }
    
    .side-bar {
      margin-top: 65px;
      .widget {
        margin-bottom: 50px;
      }
      .widget-author {
        padding: 35px 15px 30px;
      }
      .widget-categories {
        padding: 33px 15px 35px;
      }
      .widget-menu {
        padding: 33px 15px 35px;
      }
      .widget-tags {
        padding: 33px 15px 19px;
      }
    }
    
    #comments {
      .buttons{
        text-align: center;
      }
    }

    .blog-category-list {
      padding-bottom: 75px;
      .post {
          padding-top: 0px;
          .blog-box {
            margin-bottom: 50px;
          }
      }
      .themesflat-pagination {
        text-align: center;
      }
      .side-bar {
        margin-top: 55px;
      }
    }
 
  
 



   

   
    
  }

  @media only screen and (max-width: 767px) {

    .tf-section2,
    .tf-section {
      padding: 75px 0;
    }


    .themesflat-pagination {
      margin-top: 20px;
    }

    .flat-title-page.inner {
      padding: 70px 0px 70px 0px;
    }

    #top-bar {
      padding: 16px 0 11px;
      .top-box .title-map{
        padding: 0;
        margin-right: 0;
      }
      .inner {
        .top-bar-right,
        .top-bar-left {
          display: block;
        }
        h6 {
          justify-content: center;
          &::after {
            display: none;
          }
        }
        .follow {
          justify-content: center;
        }
      }
    }

    // #top-bar {
    //   padding: 20px 0;
    //   height: unset;
    //   .inner {
    //     text-align: center;
    //     display: block;
    //     .top-bar-right {
    //       display: block;
    //     }
    //     .top-bar-left {
    //       margin-bottom: 8px;
    //       h5 {
    //         line-height: 21px;
    //       }
    //     }
    //   }
    // }
    
    .slider {
      .slider-item {
        padding: 70px 0 80px;
        .content {
          width: 100%;
          .heading {
            h1 {
              font-size: 54px;
              line-height: 66px;
            }
            h2 {
              margin-bottom: 20px;
            }
          }
        }
        .image {
          display: none;
        }
      }
      .swiper-button-prev2,
      .swiper-button-next2 {
        bottom: 30px;
      }
    }

    .slider .img-slider img {
      object-position: 0px 0;
    }

    .slider.home2 .slider-item {
      padding: 70px 0 80px;
      .content {
        width: 100%;
        .heading {
          h1 {
            font-size: 54px;
            line-height: 66px;
          }
          h2 {
            margin-bottom: 20px;
          }
        }
      }
    }

    .slider.home3 {
      .slider-item {
        padding: 75px 0 80px;
        .content .sub-title {
          padding: 8px 10px;
        }
      }
    } 
  
    #footer {
      padding: 70px 0 70px;
      .widget-logo {
        margin-bottom: 45px;
        .logo-footer {
          margin-bottom: 35px;
        }
      }
      .widget-menu {
        &.style-2 {
          padding-top: 0px;
          margin-bottom: 32px;
        }
        &.style-3 {
          padding-top: 52px;
        }
        &.style-4 {
          padding-left: 0;
          .title-widget {
            margin-bottom: 37px;
          }
        }
        .title-widget {
          margin-bottom: 25px;
        }
      }
      .widget .recent-news li {
        margin-bottom: 25px;
      }
    }

    .widget-social-footer {
      padding: 35px 0 40px;
    }

    .swiper-pagination {
      display: none;
    } 


    .fancybox-slide--iframe .fancybox-content {
      width: 95%;
      height: 95%;
      max-width: calc(100% - 50px);
      max-height: calc(100% - 90px);
    }

    .heading-section {
      margin-bottom: 40px;
    }

    .flat-blog {
      padding-bottom: 65px;
      .blog-box .content {
        padding: 24px 15px 25px 15px;
        h4 {
          margin-bottom: 10px;
        }
        p {
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
        .days {
          right: 20px;
        }
      }
      &.home {
        padding-bottom: 30px;
      }
    }
  
    .widget-subcribe .form-subcribe {
      .form-submit {
        display: block;
      }
      input {
        width: 100%;
        margin-bottom: 0px;
      }
      button {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .flat-vegetables .flat-tabs {
      .box-tab {
        margin-bottom: 20px;
      }
      .tab-title {
        flex-wrap: wrap;
        li {
          margin-right: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
          .icon {
            margin-bottom: 10px;
          }
        }
      }
      .wrap-vegetables .box {
        width: calc(100% - 30px);
      }  
    }

    .flat-organic {
      padding-bottom: 45px;
      .box-organic {
        margin-bottom: 30px;
        .title {
          position: unset;
          margin: 0 ;
          transform: unset;
          // text-align: center;
          display: none;
          margin-bottom: 10px;
        }
        .images { 
          margin-left: 0;
        }
      }
       .box-organic.box-2 .images {
        margin-right: 0;
       }
    }

    // .flat-vegetables .wrap-vegetables .box {
    //   width: calc(100% - 30px);
    // }

    .flat-icon {
      padding-bottom: 45px;
      .box-icon {
        padding: 37px 0px 32px;
      }
    }

    .heading-section {
      h5 {
        margin-bottom: 10px;
      }
      h2 {
        font-size: 44px;
        line-height: 52px;
      }
    }

    .flat-about {
      .wrap-img {
        padding-top: 0;
        margin-bottom: 30px;
        text-align: center;
        .box-author .inner{
          justify-content: center;
        }
      }
      .wrap-about .box-icon {
        align-items: center;
        padding: 18px 10px 19px 12px;
        .icon {
          margin-top: 0;
          margin-right: 12px;
        } 
      }
      
      .buttons {
        text-align: center;
      }
    }
  

    .flat-sale .wrap-sale .box-count ul {
      flex-wrap: wrap;
      li {
        margin-bottom: 15px;
      }
    }

    .flat-vegetables .wrap-vegetables {
      margin-bottom: 20px;
    }

    .flat-arrivals .buttons {
      margin-top: 25px;
    }

    .flat-testimonials {
      padding-bottom: 70px;
      .swiper-container {
        padding-bottom: 95px;
      }
    }

    .flat-brand {
      padding-bottom: 60px;
    }

    // home 2
    .flat-icon-home2 .box-icon {
      padding: 30px 15px 28px 15px;
    }

    #top-bar.home2 .inner .top-bar-right {
      display: flex;
    }
    #top-bar.home2 .inner .top-bar-left {
      display: none;
    }

    .search-header {
      display: none;
    }

    .categories_menu_toggle {
      width: 100%;
      .wrap {
        display: block;
        .box {
          width: 100%;
          &.box-1 {
            padding: 10px 10px 0px 10px;
          }
          &.box-2 {
            padding: 0px 10px 5px 10px;
          }
        }
      }
    }
    .categories_menu .categories_title {
      padding: 11px 15px 10px 15px;
      h5::after {
        margin-left: 15px;
      }
    }

    .header-middle {
      .header-account {
        left: 50%;
        top: 75%;
      }
      #site-logo-inner {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%);
      }
      #site-logo {
        height: 130px;
      }
    }

    .flat-fresh {
      .box-organic {
        margin-bottom: 30px;
        .images {
          img {
            object-position: 0px 0;
            object-fit: none;
          }
        }
      }
    }

    .flat-category .wrap-category .box {
      width: calc(100% - 20px);
      margin-bottom: 30px;
    }

    .flat-special .box-title {
      padding: 17px 15px 12px;
      display: block;
      .title {
        font-size: 22px;
        line-height: 30px;
      }
    }

    .swiper-button-next4, 
    .swiper-button-prev4 {
      width: 40px;
      height: 40px;
      top: 11px;
    }
    .swiper-button-next4 {
      right: 25px;
    }
    .swiper-button-prev4 {
      right: 75px;
    }

    .flat-days .wrap-days {
      padding: 66px 15px 70px;
      text-align: center;
      .box-count {
        margin-bottom: 20px;
        ul {
          flex-wrap: wrap;
          justify-content: center;
          li {
            margin-left: 7px;
            margin-right: 7px;
            margin-bottom: 13px;
          }
        }
      }
    }

    .flat-rate-products {
      padding-bottom: 45px;
      .wrap-rate {
        padding: 30px 15px 38px;
        margin-bottom: 30px;
      }
    }

    .flat-popular-products {
      padding-bottom: 68px;
      .flat-tabs .tab-title {
        flex-wrap: wrap;
        li {
          margin-right: 11px;
          margin-left: 11px;
          margin-bottom: 5px;
        }
      }
      .box-tab {
        margin-bottom: 40px;
      }
    }

    .flat-organic2 {
      padding-bottom: 45px;
        .box-organic {
          margin-bottom: 30px;
          .images .content {
            left: 15px;
            .title-h3 {
              padding-right: 5px;
            }
          }
        }
    }

    .flat-sale2 .heading-section {
      h1 {
        font-size: 66px;
        line-height: 76px;
      }
    }

    .flat-products {
      .heading-section {
        margin-bottom: 40px;
        h2 {
          font-size: 58px;
        }
      }
      .box-special .content {
        padding: 27px 0px 27px 15px;
      }
    } 

    // home 3
    .flat-fresh .box-organic {
      display: flex;
      justify-content: center;
    }
    .flat-fresh.home3 {
      padding-bottom: 45px;
      .box-organic {
        margin-bottom: 30px;
        // display: flex;
        // justify-content: center;
      }
    }
    .flat-special.home3 {
      .swiper-container {
        padding: 2px 2px 2px;
        margin: -2px -2px -2px;
      }
      .box-special .content {
        padding: 32px 15px 28px;
      }
      .buttons {
        margin-top: 50px;
      }
    }

    .flat-special.tf-home3 .buttons {
      margin-top: 50px;
    }

    .flat-category.home3 {
      padding-bottom: 40px;
    }

    .flat-subscribe.home3 .form-subcribe input {
      width: 100%;
    }

    .flat-trending .flat-tabs {
      ul {
        flex-wrap: wrap;
        li {
          margin: 0 6px 10px ;
        }
      }
      .box-tab {
        margin-bottom: 50px;
      }
    }

    .flat-why-choose {
      .heading-section {
        margin-bottom: 40px;
      }
      .mark-images { 
        display: none;
      }
      .wrap-why-choose .box {
        display: block;
        .box-1 {
          width: 100%;
          margin-bottom: 30px;
        }
        .box-2 {
          width: 100%;
        }
        .inner .content {
          padding: 0px 0px 0 10px;
          text-align: unset;
        }
        .mb-203 {
          margin-bottom: 30px;
        }
      }
    }
   
    .flat-testimonial2 {
      .wrap-testi {
        display: block;
        .box-1 {
          width: 100%;
          margin-bottom: 30px;
        }
        .box-2 {
          width: 100%;
          padding: 50px 15px 47px;
        }
      }
      .button-custom-slider {
        display: none;
      }
    }

    // page
    .flat-blog-details .post {
      .box-text.style {
        margin-bottom: 50px;
      }
      .box-item {
        display: block;
        margin-bottom: 40px;
      }
      .quote-details {
        padding: 54px 15px 24px;
      }
      .reply-box {
        display: none;
      }
    }

    #comments {
      .comment-list {
        margin-bottom: 40px;
        .comment-01 {
          padding: 29px 15px 26px;
          .comment-avatar {
            margin-bottom: 18px;
          }
          .comment-content .comment-text p {
            padding: 0;
          }
        }
      }
      .comment-form {
        .style-text {
          width: 100%;
          float: unset;
        }
        fieldset.email-wrap,
        fieldset.name-wrap {
          padding: 0px;
        }
      }
    }

    .side-bar {
      margin-top: 55px;
      .widget {
        margin-bottom: 40px;
      }
      .widget-title.title-list {
        margin-bottom: 20px;
      }
      .widget-title.title-tags {
        margin-bottom: 20px;
      }
    }

    .blog-category-list {
      padding-bottom: 65px;
      .post .blog-box .content {
        padding: 31px 15px 35px 15px;
        .meta-box {
          display: block;
          h4 {
            margin-bottom: 3px;
          }
        }
      }
    }
    // #comments {
    //   .respond-comment {
    //     padding: 40px 15px;
    //   }
    
    // }
    
  
  

        
    .po-content-one {
      order: 1;
    }
    .po-content-two {
      order: 2;
    }
    .po-content-three {
      order: 3;
    }

 

    // .flat-blog-sidebar #comments .comment-list .comment-01 {
    //   display: block;
    //   &:nth-last-child(1),
    //   &:nth-last-child(2) {
    //     padding-top: 5px;
    //   }
    //   .comment-avatar {
    //     width: 100%;
    //     margin-bottom: 15px;
    //     width: 17.9%;
    //   }
    //   .comment-content {
    //     width: 100%;
    //   }
    //   &.style {
    //     padding-left: 0;
    //     .comment-avatar {
    //       margin-right: 0px;
    //     }
    //   }
    // }

    // .flat-blog-sidebar {
    //   padding: 50px 0 75px;
    //   .post {
    //     .image-box {
    //       margin-bottom: 35px;
    //       display: block;
    //       .img-1 {
    //         width: 100%;
    //         padding: 0px;
    //         margin-bottom: 15px;
    //       }
    //       .img-2 {
    //         width: 100%;
    //         padding: 0px;
    //       }
    //     }
    //     .box-text.style-2 {
    //       margin-bottom: 35px;
    //     }
    //   }
    //   #comments {
    //     .respond-comment {
    //       padding: 40px 15px;
    //     }
    //     .comment-form {
    //       .style-text {
    //         width: 100%;
    //         float: unset;
    //       }
    //       fieldset.email-wrap,
    //       fieldset.name-wrap {
    //         padding: 0px;
    //       }
    //     }
    //   }
    // }

  }

  // @media only screen and (max-width: 360px) {
  //   .header-middle .header-account {
  //     left: unset;
  //     right: 0;
  //     top: 50%;
  //     transform: translateY(-50%);
  //   }
  //   // .header-middle #site-logo-inner {
  //   //   position: absolute;
  //   //   top: 30%;
  //   //   left: 50%;
  //   //   transform: translate(-50%);
  //   // }
  
  // }
  @media only screen and (max-width: 430px) {
    .flat-organic .box-organic .images img {
      object-position: 0px 0;
      object-fit: none;
    }
  }
 

  @media only screen and (max-width: 360px) {
    .header-search i {
      margin-right: 10px;
    }
    .flat-gallery .content {
      padding: 23.5px 15px 23.5px 15px;
    }
  }

  @media only screen and (max-width: 330px) {
    #footer .widget-menu .title-widget {
      font-size: 25px;
      margin-bottom: 20px;
      margin-top: -2px;
    }
    #top-bar .top-box .title-map {
      flex-wrap: wrap;
    }
    .flat-arrivals .box-arrivals {
      padding: 23px 15px;
    }

    .flat-products .box-special .content {
      padding: 19px 0px 17px 10px;
      .star {
        margin-bottom: 3px;
      }
      h4 {
        margin-bottom: 4px;
      }
    }
    .flat-products .box-special .images {
      width: 125px;
      height: 125px;
    }
  }

  @media only screen and (max-width: 310px) {
   
  }
  