@use './abstracts/' as *;

/* Media Queries
-------------------------------------------------------------- */

  @media only screen and (max-width: 1650px) {
 

    .slider {
      .swiper-button-prev2 {
        right: 170px;
        left: unset;
      }
      .swiper-button-next2 {
        right: 90px;
        left: auto;
      }
      .swiper-pagination2 {
        left: 15%;
      }
    }

  }

  @media only screen and (max-width: 1440px) {
    .slider {
      .swiper-pagination2 {
        left: 90px;
      }
    }


  }

  @media only screen and (max-width: 1330px) {

    // .header_1 #main-nav {
    //   left: 26%;
    // }

  }

  @media only screen and (max-width: 1199px) {

    .header_1 #main-nav {
      left: 16%;
      > ul > li {
        padding: 40px 12px 40px 13px;
      }
    }

    #top-bar .top-box .title-map {
      padding-right: 15px;
      margin-right: 15px;
    }

    .widget-menu .title-widget {
      font-size: 28px;
    }
    .widget-menu.style-2 {
      padding-left: 0;
    }

    .slider {
      .swiper-button-prev2 {
        right: 95px;
      }
      .swiper-button-next2 {
        right: 15px;
      }
      .swiper-pagination2 {
        left: 15px;
      }
      .slider-item .content {
        width: 62%;
      }
    }



  }
  
  @media only screen and (max-width: 991px) {
  
    .mobile-button {
      display: block !important;
    }

    .swiper-pagination2,
    .swiper-button-prev,
    .swiper-button-next,
    .sc-btn-top {
      display: none;
    }

    .tf-section2,
    .tf-section {
      padding: 90px 0;
    }


    .flat-title-page.inner {
      padding: 100px 0px 100px 0px;
    }

    .slider {
      .slider-item {
        position: relative;
        padding: 90px 0 90px;
        .content {
          width: 65%;
          padding-left: 0;
          p {
            padding: 0;
          }
        }
      }
    }

    #footer {
      padding: 80px 0 50px;
      .widget-logo {
        margin-bottom: 50px;
        .logo-footer {
          margin-bottom: 40px;
        }
        p {
          margin-bottom: 25px;
          padding-right: 0;
        }
      }

      .widget-menu {
        .title-widget {
          margin-bottom: 30px;
        }
        &.style-2 {
          padding-top: 0px;
          padding-left: 0px;
        }
        &.style-3 {
          padding-left: 0;
          padding-top: 66px;
        }
        &.style-4 {
          padding: 0;
          .title-widget {
            margin-bottom: 40px;
          }
        }
      }
      .go-top {
        right: 15px;
      }
    }

    .widget-social-footer {
      padding: 30px 0 35px;
      .title-bottom {
        margin-bottom: 15px;
        text-align: center;
        padding: 0;
      }
      
      .icon-bottom {
        text-align: center;
        margin: 0;
      }
    }

    // .side-bar {
    //   margin-top: 60px;
    //   .widget {
    //     &.widget-categories {
    //       margin-bottom: 40px;
    //     }
    //     .recent-news li {
    //       padding-bottom: 15px;
    //       .title-post {
    //         padding-top: 20px;
    //       }
    //     }
    //     &.widget-posts {
    //       margin-bottom: 40px;
    //     }
    //   }
    // }
    .flat-subscribe {
      padding: 60px 0;
    }

    .widget-subcribe {
      padding-left: 0;
      padding-top: 40px;
      .form-subcribe {
        input {
          width: 70%;
        }
        button {
          width: 30%;
        }
      }
    }
    
    #top-bar {
      height: unset;
      padding: 15px 0 10px;
      .inner {
        display: block;
        text-align: center;
      }
      .top-box {
        justify-content: center;
        .title-map::after {
          top: -1px;
          height: 20px;
        }
      }
    }

    .flat-button-top {
      right: 35px;
    }

    .flat-blog {
      padding-bottom: 75px;
      .content {
        padding: 24px 15px 25px 15px;
      }
      &.home {
        padding-bottom: 50px;
      }
    }

    .flat-brand {
      padding-bottom: 82px;
    }

    .flat-icon {
      padding-bottom: 60px;
      .box-icon {
        margin-bottom: 30px;
      }  
    }

    .flat-about {
      .wrap-about .box-icon {
        margin-right: 0;
        padding: 15px 10px 19px 12px;
        .icon {
          margin-right: 15px;
        }
      }
      .box-author {
        width: 100%;
        position: unset; 
        padding: 20px 15px 25px;
        border-radius: 5px;
        height: unset;
        margin-top: 15px;
        .title {
          margin-bottom: 10px;
        }
      }
      .wrap-img .img-1 {
        margin-bottom: 15px;
      }
    }

    .flat-vegetables {
      .flat-tabs .tab-title li {
        margin-right: 18px;
        margin-left: 18px;
      }
      .wrap-vegetables {
        flex-wrap: wrap;
        margin-bottom: 30px;
        .box {
          width: calc(50% - 30px);
          margin-bottom: 30px;
        }
      }
    }

    .flat-organic {
      .box-organic {
        .title {
          font-size: 30px;
          left: -100px;
          top: 96px;
        }
        .images {
          margin-left: 40px;
          .content {
            transform: translateY(-50%);
            left: 20px;
            top: 50%;
          }
        }
        &.box-2 {
          .images {
            margin-right: 40px;
          }
          .title {
            right: -73px;
            left: unset;
            top: 96px;
          }
        }
      }
  
    }

    .flat-arrivals .box-arrivals {
      display: block;
      .images {
        margin-right: 0; 
        width: 100%; 
      }
    }

    .flat-testimonials {
      padding-bottom: 80px;
      .box-testi {
        padding: 32px 15px 40px;
      }
    }
  
    .flat-brand .brand-slider {
      text-align: center;
    }
 
  
 



   

   
    
  }

  @media only screen and (max-width: 767px) {

    .tf-section2,
    .tf-section {
      padding: 75px 0;
    }


    .themesflat-pagination {
      margin-top: 20px;
    }

    .flat-title-page.inner {
      padding: 70px 0px 70px 0px;
    }

    #top-bar {
      padding: 16px 0 11px;
      .top-box .title-map{
        padding: 0;
        margin-right: 0;
      }
      .inner {
        .top-bar-right,
        .top-bar-left {
          display: block;
        }
        h6 {
          justify-content: center;
          &::after {
            display: none;
          }
        }
        .follow {
          justify-content: center;
        }
      }
    }

    // #top-bar {
    //   padding: 20px 0;
    //   height: unset;
    //   .inner {
    //     text-align: center;
    //     display: block;
    //     .top-bar-right {
    //       display: block;
    //     }
    //     .top-bar-left {
    //       margin-bottom: 8px;
    //       h5 {
    //         line-height: 21px;
    //       }
    //     }
    //   }
    // }
    
    .slider {
      .slider-item {
        padding: 70px 0 80px;
        .content {
          width: 100%;
          .heading {
            h1 {
              font-size: 54px;
              line-height: 66px;
            }
            h2 {
              margin-bottom: 20px;
            }
          }
        }
        .image {
          display: none;
        }
      }
      .swiper-button-prev2,
      .swiper-button-next2 {
        bottom: 30px;
      }
    }

    .slider .img-slider img {
      object-position: 0px 0;
    }
  
    #footer {
      padding: 70px 0 70px;
      .widget-logo {
        margin-bottom: 45px;
        .logo-footer {
          margin-bottom: 35px;
        }
      }
      .widget-menu {
        &.style-2 {
          padding-top: 0px;
          margin-bottom: 32px;
        }
        &.style-3 {
          padding-top: 52px;
        }
        &.style-4 {
          padding-left: 0;
          .title-widget {
            margin-bottom: 37px;
          }
        }
        .title-widget {
          margin-bottom: 25px;
        }
      }
      .widget .recent-news li {
        margin-bottom: 25px;
      }
    }

    .widget-social-footer {
      padding: 35px 0 40px;
    }

    .swiper-pagination {
      display: none;
    } 

    .side-bar {
      margin-top: 55px;
      .widget {
        &.search {
          margin-bottom: 40px;
        }
        .recent-news {
          li .title-post {
            padding-top: 10px;
          }
        }
        &.widget-categories {
          margin-bottom: 36px;
        }
      }
    }


    .fancybox-slide--iframe .fancybox-content {
      width: 95%;
      height: 95%;
      max-width: calc(100% - 50px);
      max-height: calc(100% - 90px);
    }

    .heading-section {
      margin-bottom: 40px;
    }

    .flat-blog {
      padding-bottom: 65px;
      .blog-box .content {
        padding: 24px 15px 25px 15px;
        h4 {
          margin-bottom: 10px;
        }
        p {
          padding-bottom: 20px;
          margin-bottom: 20px;
        }
        .days {
          right: 20px;
        }
      }
      &.home {
        padding-bottom: 30px;
      }
    }

  
    .widget-subcribe .form-subcribe {
      .form-submit {
        display: block;
      }
      input {
        width: 100%;
        margin-bottom: 0px;
      }
      button {
        width: 100%;
        padding-top: 8px;
        padding-bottom: 8px;
      }
    }

    .flat-vegetables .flat-tabs {
      .box-tab {
        margin-bottom: 20px;
      }
      .tab-title {
        flex-wrap: wrap;
        li {
          margin-right: 10px;
          margin-left: 10px;
          margin-bottom: 10px;
          .icon {
            margin-bottom: 10px;
          }
        }
      }
      .wrap-vegetables .box {
        width: calc(100% - 30px);
      }  
    }

    .flat-organic {
      padding-bottom: 45px;
      .box-organic {
        margin-bottom: 30px;
        .title {
          position: unset;
          margin: 0 ;
          transform: unset;
          // text-align: center;
          display: none;
          margin-bottom: 10px;
        }
        .images { 
          margin-left: 0;
        }
      }
       .box-organic.box-2 .images {
        margin-right: 0;
       }
    }
 
 

    // .flat-vegetables .wrap-vegetables .box {
    //   width: calc(100% - 30px);
    // }

    .flat-icon {
      padding-bottom: 45px;
      .box-icon {
        padding: 37px 0px 32px;
      }
    }

    .heading-section {
      h5 {
        margin-bottom: 10px;
      }
      h2 {
        font-size: 44px;
        line-height: 52px;
      }
    }

    .flat-about {
      .wrap-img {
        padding-top: 0;
        margin-bottom: 30px;
      }
      .wrap-about .box-icon {
        align-items: center;
        padding: 18px 10px 19px 12px;
        .icon {
          margin-top: 0;
          margin-right: 12px;
        } 
      }
      .buttons {
        text-align: center;
      }
    }
  

    .flat-sale .wrap-sale .box-count ul {
      flex-wrap: wrap;
      li {
        margin-bottom: 15px;
      }
    }

    .flat-vegetables .wrap-vegetables {
      margin-bottom: 20px;
    }

    .flat-arrivals .buttons {
      margin-top: 25px;
    }

    .flat-testimonials {
      padding-bottom: 70px;
      .swiper-container {
        padding-bottom: 95px;
      }
    }

    .flat-brand {
      padding-bottom: 60px;
    }



        

 

    // .flat-blog-sidebar #comments .comment-list .comment-01 {
    //   display: block;
    //   &:nth-last-child(1),
    //   &:nth-last-child(2) {
    //     padding-top: 5px;
    //   }
    //   .comment-avatar {
    //     width: 100%;
    //     margin-bottom: 15px;
    //     width: 17.9%;
    //   }
    //   .comment-content {
    //     width: 100%;
    //   }
    //   &.style {
    //     padding-left: 0;
    //     .comment-avatar {
    //       margin-right: 0px;
    //     }
    //   }
    // }

    // .flat-blog-sidebar {
    //   padding: 50px 0 75px;
    //   .post {
    //     .image-box {
    //       margin-bottom: 35px;
    //       display: block;
    //       .img-1 {
    //         width: 100%;
    //         padding: 0px;
    //         margin-bottom: 15px;
    //       }
    //       .img-2 {
    //         width: 100%;
    //         padding: 0px;
    //       }
    //     }
    //     .box-text.style-2 {
    //       margin-bottom: 35px;
    //     }
    //   }
    //   #comments {
    //     .respond-comment {
    //       padding: 40px 15px;
    //     }
    //     .comment-form {
    //       .style-text {
    //         width: 100%;
    //         float: unset;
    //       }
    //       fieldset.email-wrap,
    //       fieldset.name-wrap {
    //         padding: 0px;
    //       }
    //     }
    //   }
    // }

  }


  @media only screen and (max-width: 360px) {
    .header-search i {
      margin-right: 10px;
    }
    .flat-gallery .content {
      padding: 23.5px 15px 23.5px 15px;
    }
  }

  @media only screen and (max-width: 330px) {
    #footer .widget-menu .title-widget {
      font-size: 25px;
      margin-bottom: 20px;
      margin-top: -2px;
    }
    #top-bar .top-box .title-map {
      flex-wrap: wrap;
    }
    .flat-arrivals .box-arrivals {
      padding: 23px 15px;
    }
  }

  @media only screen and (max-width: 310px) {
   
  }
  