@use '../abstracts/' as *;


.themes-container {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1440px;
    max-width    : 100%;
}

.themes-container2 {
    position     : relative;
    margin-left  : auto;
    margin-right : auto;
    padding-right: 15px;
    padding-left : 15px;
    width        : 1750px;
    max-width    : 100%;
}

.tf-section2 {
    padding: 104px 0;
    @include transition3;
    position     : relative;
}

.tf-section {
    padding: 110px 0;
    @include transition3;
    position     : relative;
}


/* flat Blog
--------------------------------------------------*/
.flat-blog {
    padding-bottom: 100px;
}
.blog-box {
    .media {
        position: relative;
    }
    .content {
        position: relative;
        padding: 24px 29px 25px 30px;
        margin-bottom: 29px;
        border: 1px solid #ecedeb;
        box-shadow: 0px 2px 4px  rgb(000 000 000 / 10%);
        h4 {
            margin-bottom: 20px;
            color: $color-3;
            letter-spacing: -0.2px;
        } 
        h3 {
            text-transform: capitalize;
            margin-bottom : 14px;
            a:hover {
                color: $color-6;
            }
        } 
        p {
            padding-bottom: 30px;
            margin-bottom: 29px;
            border-bottom: 1px solid $color-5;
        }
      
        .days {
            right: 30px;
            width: 70px;
            height: 80px;
            text-align: center;
            background-color: #56a918;
            color: $color-1;
            border-radius: 5px;
            position: absolute;
            top: -47px;
            font-size: 18px;
            padding-top: 19px;
            .number {
                font-size: 30px;
                font-weight: 600;
                margin-bottom: -1px;
            }
        }
    }  
}

.meta {
    .btn-button {
        font-size: 18px;
        line-height: 28px;
        font-weight: 600;
        @include transition3;
        &::after {
            content: "\f0a9";
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            font-weight: 500;
            margin-left: 10px;
            margin-top: -2px;
        }
        
    }
    a:hover {
        color: $color-3;
    }
    .comment {
        font-size: 18px;
        line-height: 28px;
        &::before {
            content: "\f086";
            font-family: "Font Awesome 5 Pro";
            font-size: 18px;
            font-weight: 500;
            margin-right: 9px;
            margin-top: -2px;
        }
    }
}
// .meta {
//     margin-bottom: 6px;
//     font-family: 'Poppins';
//     .user {
//         margin-right: 4px;  
//         &::after {
//             content: "|";
//             margin-left: 4px;  
//             font-weight: 400;
//             color: var(--primary-color4);
//         }
//     }
    
// }
.flat-subscribe {
    padding: 54px 0;
    background-color: $color-3;
    .heading-subscribe {
        h5 {
            margin-bottom: 15px;
        }
        h2 {
            color: #fff;
            font-weight: 700;
            margin-bottom: 8px;
        }
        h4 {
            padding-right: 40px;
        }
    }
}

.flat-icon {
    .box-icon {
        text-align: center;
        box-shadow: 0px 4px 40px rgb(0 0 0 / 8%);
        padding: 32px 0px 25px;
        .icon {
            margin-bottom: 25px;
            position: relative;
            display: inline-block;
            padding: 0 4px;
            &::after {
                position: absolute;
                width: 100%;
                height: 100%;
                content: '';
                -webkit-box-sizing: content-box; 
                -moz-box-sizing: content-box; 
                box-sizing: content-box;
                pointer-events: none;
                border-radius: 50%;
                top: 0;
                left: 0;
                padding: 0;
                z-index: -1;
                opacity: 0;
                -webkit-transform: scale(0.9);
                -moz-transform: scale(0.9);
                -ms-transform: scale(0.9);
                transform: scale(0.9);
            }
        }
        .content {
            h3 {
                font-size: 22px;
                margin-bottom: 14px;
            }
            p {
                margin-bottom: 24px;
                padding: 0px 30px;
            }
            // .btn-button {
            //     &:hover {
            //         &::after {
            //             animation: 0.3s link-icon linear;
            //         }
            //     }
            // }
        }
        &:hover {
            .icon {
                &:after {
                    -webkit-animation: sonarEffect 1.3s ease-out 75ms;
                    -moz-animation: sonarEffect 1.3s ease-out 75ms;
                    animation: sonarEffect 1.3s ease-out 75ms;
                }
                &.style-2 {
                    &:after {
                        -webkit-animation: sonarEffect2 1.3s ease-out 75ms;
                        -moz-animation: sonarEffect2 1.3s ease-out 75ms;
                        animation: sonarEffect2 1.3s ease-out 75ms;
                    }
                }
            }
        }
    }
}


@keyframes sonarEffect {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #56a918, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #56a918, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.4);
		opacity: 0;
	}
}

@keyframes sonarEffect2 {
	0% {
		opacity: 0.3;
	}
	40% {
		opacity: 0.5;
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ff9c00, 0 0 0 10px rgba(255,255,255,0.5);
	}
	100% {
		box-shadow: 0 0 0 2px rgba(255,255,255,0.1), 0 0 10px 10px #ff9c00, 0 0 0 10px rgba(255,255,255,0.5);
		transform: scale(1.4);
		opacity: 0;
	}
}

.flat-about {
    background: #f3f6f0;
    padding-bottom: 110px;
    .wrap-img {
        position: relative;
        padding-top: 6px;
        .img-1 {
            margin-bottom: 30px;
        }
    }
    .box-author {
        width: 300px;
        height: 400px;
        background: $color-3;
        position: absolute;
        color: $color-1;
        right: 31px;
        bottom: -18px;
        padding: 63px 30px;
        border-radius: 5px;
        .title {
            margin-bottom: 38px;
        }
        .inner {
            .author {
                border-radius: 50%;
                width: 70px;
                height: 68px;
                display: inline-block;
                overflow: hidden;
                position: relative;
                &::after {
                    border: 4px solid #fff;
                    width: 70px;
                    height: 68px;
                    z-index: 9;
                    @include absolute;
                    border-radius: 50%;
                    content: '';
                }
            }
            .content {
                padding-left: 14px;
                padding-top: 6px;
            }
        }
    }
    .wrap-about {
        .heading-section {
            margin-bottom: 28px;
            h2 {
                margin-bottom: 18px;
            }
            p {
                padding-left: 1px;
                padding-right: 30px;
            }
        }
        .box-icon {
            background: $color-1;
            padding: 15px 22px 19px;
            border-top-left-radius: 200px;
            border-bottom-left-radius: 200px;
            margin-right: 22px;
            box-shadow: 0px 4px 40px rgb(0 0 0 / 8%);
            margin-bottom: 25px;
            // &:nth-child(2) {
            //     margin-bottom: 30px;
            // }
            &:nth-child(3) {
                margin-bottom: 32px;
            }
            .icon {
                width: 86px;
                height: 86px;
                border-radius: 50%;
                background: #f3f6f0;
                flex: none;
                line-height: 86px;
                text-align: center;
                margin-right: 20px;
                margin-top: 5px;
                overflow: hidden;
                svg {
                    fill: $color-6;
                }
            }
            .content {
                h3 {
                    margin-bottom: 4px;
                }
            }
            &:hover {
                .icon {
                    svg {
                        -webkit-animation: toBottomFromTop 0.3s forwards;
                        -moz-animation: toBottomFromTop 0.3s forwards;
                        animation: toBottomFromTop 0.3s forwards;
                    }
                }
            }
        }
    }
}

.flat-vegetables {
    .wrap-vegetables {
        position: relative;
        margin-left: -30px;
        margin-bottom: 61px;
        .box {
            width: calc(25% - 30px);
            margin-left: 30px;
            position: relative;
            text-align: center;
            box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
            .images {
                background-color: #f9f9f9;
                width: 100%;
                height: 270px;
                @include flex-center;
                position: relative;
                img {
                    @include transition3;
                }
                .icon-list {
                    position: absolute;
                    margin-top: 31px;
                    z-index: 9;
                    a {
                        width: 40px;
                        height: 40px;
                        background: $color-1;
                        margin-right: 5px;
                        margin-left: 7.5px;
                        border-radius: 5px;
                        // margin-top: -30px;
                        @include flex-center;
                        @include transition3;
                        transform: scale(0) rotateY(90deg);
                        i {
                            font-weight: 600;
                        }
                        .fa-heart {
                            font-weight: 500;
                        }
                        &:hover {
                            background: $color-6;
                            color: $color-1;
                        }

                    }
                }
                .tag-text {
                    position: absolute;
                    top: 20px;
                    left: 20px;
                    background-color: $color-3;
                    padding: 0px 3px;
                    color: $color-1;
                    border-radius: 5px;
                    font-size: 16px;
                    line-height: 16px;
                    padding: 7px 7px 4px;
                    z-index: 9;
                    &.style {
                        font-weight: 500;
                        padding: 7px 10px 4px;
                    }
                }
                
            }
            &:hover {
                .images {
                    img {
                        transform: scale(1.1);
                    }
                    .icon-list {                 
                        a {
                            margin-top: -31px;
                            @include transition3;
                            transform: scale(1) rotateY(0deg);
                        }
                        .icon-1 {
                          
                            opacity: 1;
                        }
                        .icon-2 {
                            transition-delay: 0.2s;
                           
                            opacity: 1;
                        }
                        .icon-3 {
                            transition-delay: 0.4s;

                            opacity: 1;
                        }                                           
                    }
                }
            }
            .content {
                padding: 28px 0 26px;
                .star {
                    margin-bottom: 7px;
                }
                h3 {
                    margin-bottom: 8px;
                }
                .money {
                    font-size: 18px;
                    font-weight: 600;
                    font-family: $font-2;
                    margin-left: 1px;
                    .one {
                        margin-right: 0.5px;
                        text-decoration-line: line-through;
                    } 
                    .two {
                        color: $color-6;
                    }
                }
            }
        }
    }
}

.star {
    i {
        font-size: 12px;
        color: #ff9c00;
    }
    svg {
        fill: #ff9c00;
        width: 15px;
        height: 15px;
        margin-left: 1px;
    }
}

.flat-tabs {
    &.themesflat-tabs {
        margin-bottom: 4px;
    }
    .box-tab {
        margin-bottom: 48px;
    }
    .tab-title {
        @include flex-center;
        // padding      : 10px 0;
        li {
            position    : relative;
            line-height : 24px;
            margin-right: 58.7px;
            padding-bottom: 5px;
            cursor      : pointer;
            h5 {
                font-weight: 600;
                @include transition3;
            }
            &:hover,
            &.active {
                h5 {
                    color: $color-6;
                }
                .icon {
                    background-color: $color-6;
                    svg {
                        fill: $color-1;
                    }
                }
            }
            &:last-child {
                margin-right: 0;
            }
         
            .icon {
                width: 80px;
                height: 80px;
                @include flex-center;
                background-color: #f3f6f0;
                border-radius: 50%;
                @include transition3;
                margin-bottom: 14px;
                svg {
                    fill: $color-6;
                    @include transition3;
                }
            }
        }
    }
}   

.flat-sale {
    background-image: url(/assets/images/section/bg-sale.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 110px;
    .heading-section {
        margin-bottom: 26px;
        h2 {
            text-transform: unset;
            margin-bottom: 20px;
        }
    }
    .wrap-sale {
        .box-count {
            margin-bottom: 32px;
            ul li {
                width: 100px;
                height: 100px;
                background: $color-1;
                margin-left: 10px;
                margin-right: 10px;
                padding-top: 27px;
                font-size: 20px;
                font-weight: 600;
                border-radius: 5px;
                box-shadow: 0px 2px 4px rgb(0 0 0 / 10%);
                span {
                    display: block;
                    font-size: 48px;
                    font-weight: 600;
                    margin-bottom: 9px;
                    color: $color-6;
                }
            }
        }
    }
}

.flat-organic {
    .heading-section {
        margin-bottom: 52px;
    }
    .box-organic {
        position: relative;
        .title {
            font-size: 36px;
            color: $color-3;
            transform: rotate(270deg);
            position: absolute;
            left: -111px;
            top: 137px;
        }
        .images {
            margin-left: 67px;
            .content {
                .sub-title {
                    margin-bottom: 11px;
                }
                .title-h3 {
                    font-size: 36px;
                    font-weight: 700;
                }
            }
        }
        &.box-2 {
            .images {
                margin-right: 61px;
                margin-left: 0;
            }
            .title {
                font-size: 36px;
                color: $color-3;
                transform: rotate(270deg);
                position: absolute;
                right: -85px;
                left: unset;
                top: 137px;
            }
        }
    }
}
