@use '../abstracts/' as *;

/* side bar */
.search-flat {
    .search-form {
        .search-field {
            width: 100%;
            padding: 14px 50px 12px 19px;
            &::placeholder {
                color: $color-2 !important;
                line-height: 20px;
                font-size: 18px !important;
                letter-spacing: -0.05px;
            }
            &:focus {
                border: 1px solid $color-3;
                border-radius: 5px;
                padding: 14px 50px 12px 19px;
            }
        }    
        .search-submit {
            padding: 15.5px 17.5px 14.5px;
        }
    }
}

.side-bar {
    padding: 6px 0 0 29px;
        .widget {
            background-color: $bg-color;
            margin-bottom: 60px;
            &:last-child {
                margin-bottom: 0px;
            }     
        }
        // .search {
        //     margin-bottom: 60px;
        // }
        .widget-author {
            background-color: $bg-color;
            padding: 30px 18px 22px;
            .images {
                border-radius: 50%;
                width: 145px;
                height: 145px;
                display: inline-block;
                overflow: hidden;
                box-shadow: 0px 16px 35px rgb(0 0 0 / 16%);
                border: 10px solid #fff;
                margin-bottom: 13px;
                img {
                    object-fit: none;
                }
            }
            h3 {
                margin-bottom: 4px;
            }
            h5 {
                margin-bottom: 14px;
            }
            p {
                margin-bottom: 25px;
            }
            .icon-social {
                i {
                    margin-left: 8px;
                    margin-right: 8px;
                }
            }
        }
        .widget-title {
            position: relative;   
            padding-left: 1px;
            &.title-list {
                margin-bottom: 23px;
            }
            &.title-news {
                margin-bottom: 18px;
            }
            &.title-tags {
                margin-bottom: 24px;
            }
        }
    .widget-tags {
        padding: 23px 20px 12px;
        .tags_cloud_inner {
            a {
                display: inline-block;
                padding: 5px 21.5px 5px;
                font-size: 18px;
                font-weight: 600;
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 16px;
                background-color: $color-1;
                @include transition3;
                &.active,
                &:hover {
                    color: $color-1;
                    background-color: $color-6;
                }
                // &:last-child {
                //     margin-bottom: 0;
                // }
            }
        }
    }

    /* recent news */
    .widget-menu {
        padding: 23px 20px 28px;
        .recent-news {
            li {
                margin-bottom: 26px;
                &:last-child {
                    margin-bottom: 0px !important;
                }           
                .thumb {
                    position: relative;
                    padding-top: 1px;
                    border-radius: 3px;
                    overflow     : hidden; 
                    width: 80px;
                    height: 80px; 
                    flex: none;
                }
                .content {         
                    padding-left: 20px;
                   
                    .title {
                        letter-spacing: 0.25px;
                        margin-bottom: 0;
                    }
                    h5 {
                        margin-bottom: 0;
                    }
                }
            }   
        }
    }
    .widget-categories {
        padding: 23px 20px 29px;
        li {
            position: relative;
            margin-bottom: 18px;
            border-radius: 5px;
            padding: 12px 17px;
            background: $color-1;
            border-left: 5px solid #d3d3d3;
            @include transition3;
            a {
                color: $color-4;
                font-weight: 500;
                letter-spacing: 0.1px;
            }
            &.active,
            &:hover {
                background: $color-6;
                border-left: 5px solid $color-6;
                @include transition3;
                a {
                    color: $color-1;
                }
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    } 
}
