@use '../abstracts/' as *;

// swiper slider 
.slider .swiper-button-next,
.slider .swiper-button-prev {
    width: 60px;
    height: 60px;
    border-radius: 50%; 
    top  : 50%;
    z-index: 99;
    opacity: 0;
    @include transition3;
    background: var(--primary-color3);

    &.swiper-button-disabled {
        background: rgba(255, 255, 255, 0.031372549);
        border-color: rgba(255, 255, 255,1);
        opacity: 0;
    }
}

.slider .swiper-button-next {
    right: 30px; 
    left : auto; 
}

.slider  .swiper-button-prev {
    right: unset; 
    left : 30px; 
}

.slider:hover .swiper-button-next,
.slider:hover .swiper-button-prev {
    opacity: 1;
    @include transition3;
    &.swiper-button-disabled {
        opacity: 1;
    }
}

// 2
.slider .swiper-button-next2,
.slider .swiper-button-prev2 {
    font-size: 16px;
    font-weight: 500;
    position: absolute;
    bottom: 43px;
    z-index: 99;
    color: #fff;
    text-transform:uppercase;
    &:hover {
        color: $color-3
    }
    &.swiper-button-disabled {
        color: $color-3;
    }
}
.slider .swiper-button-next2 {
    right: 20%;
    left : auto; 
    i {
        margin-left: 1px;
        font-size: 16px;
        font-weight: 400;
    }
}

.slider  .swiper-button-prev2 {
    right: unset; 
    left : 73.8%; 
}
// slider home 01
.slider {
    position: relative;
    overflow: hidden;
    .img-slider img {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        object-fit: cover;
    }
    .slider-item {
        position: relative;
        padding: 218px 0 219px;
        .content {
            color: #fff;
            .heading {
                margin-bottom: 35px;
            }
            .sub-title {
                font-size: 30px;
                font-weight: 500;
                color: $color-3;
                margin-bottom: 27px;
            }
            h1 {
                cursor: text;
                text-transform: capitalize;
                font-weight: 700;
                margin-bottom: 25px;
            }
            h3 {
                font-weight: 500;
                letter-spacing: 0.11px;
            }
        }
        .blob-btn {
            padding: 13px 31px 12.6px;
        }
    }
}

/* animation slider */
.flat-slider .signature-slider,
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading ,
.flat-slider .heading  {
    transform: translateY(400px);
}

.flat-slider .signature-slider,
.flat-slider .flat-bt-slider,
.flat-slider .sub-heading,
.flat-slider .heading {
    opacity: 0;
}

.swiper-slide-active .flat-slider .signature-slider,
.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading  {
    opacity           : 1;
    visibility        : visible;
    -webkit-transition: transform 1100ms ease, opacity 1100ms ease;
    -moz-transition   : transform 1100ms ease, opacity 1100ms ease;
    -ms-transition    : transform 1100ms ease, opacity 1100ms ease;
    -o-transition     : transform 1100ms ease, opacity 1100ms ease;
    transition        : transform 1100ms ease, opacity 1100ms ease;
    transition-delay  : 1100ms;
}

.swiper-slide-active .flat-slider .signature-slider,
.swiper-slide-active .flat-slider .flat-bt-slider,
.swiper-slide-active .flat-slider .sub-heading,
.swiper-slide-active .flat-slider .heading {
    transform: translateY(0) !important;
}

.swiper-slide-active .flat-slider .heading {
    transition-delay: 800ms !important;
}

.swiper-slide-active .flat-slider .sub-heading {
    transition-delay: 550ms !important;
}

.swiper-slide-active .flat-slider .flat-bt-slider {
    transition-delay: 1100ms;
}

.swiper-slide-active .flat-slider .signature-slider {
    transition-delay: 900ms;
}

//  swiper pagination slider
.flat-themes .swiper-pagination,
.flat-practice .swiper-pagination {
    width: 100%;
    margin-top: 50px;
    position: relative;
    bottom: 0 !important; 
}

.slider .swiper-pagination2 {
    position: absolute;
    bottom: 5.3%;
    left: 20.1%;
    z-index: 9;
}


.slider .swiper-pagination-bullet {
    width: unset;
    height: unset;
    background: unset;
    opacity: 1;
    margin-right: 23px !important;
    z-index: 99;
    color: $color-3;
    font-size: 16px;
    font-weight: 500;
    // &::before {
    //     @include transition3;
    //     position: absolute;
    //     transform: translate(-50%, -57%);
    //     top: 50%;
    //     border-radius: 50%;
    //     content: "";
    //     width : 17px;
    //     height: 17px;
    //     border: 1px solid #23262933;
    //     overflow: visible;
    // }
}

.slider .swiper-pagination-bullet {
    background: unset;
    &.swiper-pagination-bullet-active {
        margin-left: 130px;
        position: relative;
        &::before {
            @include transition3;
            position: absolute;
            left: -128px;
            top: 10px;
            content: "";
            width: 105px;
            height: 0.5px !important;
            background-color: $color-3;
        }
    }
    
}
