
$font-1:'League Spartan', sans-serif;
$font-2:'Roboto', sans-serif;

$color-1: #fff;
$color-2: #000;
$color-3: #ff9c00;
$color-4: #666666;
$color-5: #dbdbdb;
$color-6: #45ab49;
$color-8: rgba(255, 255, 255, 0.8);
$bg-color: linear-gradient(173.06deg, #E6902B -0.31%, #A91B3D 99.69%);
$bg-color2: linear-gradient(85.06deg, #E6902B -0.31%, #A91B3D 99.69%);
$bg-h2: #180D45;
$color-h2: #FABE3C;
